/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Merriweather|Noticia+Text|Roboto+Slab');

/* Background */
.doodle {
  position: fixed;
  z-index: -1;
}

.home{
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}
.gallery{
  background-image: url("../img/bgg.png");
  background-repeat: repeat;
}
.fdtg{
  background-image: url("../img/bgf.png");
  background-repeat: repeat;
}
.contact{
  background-image: url("../img/bgc.png");
  background-repeat: repeat;
}

/* Page Grid */
.grid {
  display: grid;
}

.left {grid-area: left;}
.header {grid-area: header;}
.content {grid-area: content;}
.drawing {grid-area: drawing;}
.right {grid-area: right;}
.footer {grid-area: footer;}

/* Desktop Display*/
@media only screen and (min-width: 1101px){
  .grid-template-areas {
    grid-template-columns: auto minmax(550px, 42vw) 500px auto;
    grid-template-rows: 18vh minmax(75vh, auto);
    grid-template-areas:
      "left header . right"
      "left content drawing right";
  }
  .stash {height: 90%}
  .gallery .content {height: 75vh}
}

/* Small Screen and Mobile Display */
@media only screen and (max-width: 1100px) and (min-width: 811px){
  .grid-template-areas {
    grid-template-columns: auto 800px auto;
    grid-template-areas:
      "left header right"
      "left content right"
      "left drawing right";
  }
  .header{height: 20vh !important;}
  .title{
    height: 13vh !important;
    font-size: 12vh !important;
  }
  .nav{
    height: 7vh !important;
    font-size: 4vh !important;
  }
  .content{height: auto;}
  .stash {height: 60vh !important;}
}

/* Small Mobile Display */
@media only screen and (max-width: 810px){
  .grid-template-areas {
    grid-template-columns: minmax(500px, 800px);
    grid-template-areas:
      "header"
      "content"
      "drawing";
  }
  .header{height: 25vw !important;}
  .title{
    height: 12vw !important;
    font-size: 12vw !important;
    margin-bottom: 5vw !important;
  }
  .nav{
    height: 5vw !important;
    font-size: 5vw !important;
    margin-bottom: 3vw !important;
  }
  .content{
    height: auto !important;
    font-size: 14px !important;
  }
  .stash {height: 60vh !important;}
  .contact_link {
    padding-left: 30px !important;
    width: 350px !important;
    font-size: 18px !important;
  }
}

/* Page Elements*/
a {color: #38254F; text-decoration: none;}
h3 {text-align:center;}

/* Header */
.title {
  height: 10vh;
  width: auto;
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
  font-size: 10vh;
  margin-bottom: 2vh;
}
.nav {
  height: 3vh;
  font: 3vh 'Baloo Chettan', cursive;
  width: auto;
  margin-bottom: 2vh;
}

.nav a:hover {color: #fefe9a; text-shadow: 3px 3px 5px #303030}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  margin: 0 10px;
  display: inline-block;
}

/* Content */
.content {
  background: linear-gradient(#FFEDD1, #ffd799);
  padding: 15px 30px;
  text-align:justify;
  text-justify:inter-word;
  font-family: 'Roboto Slab', serif;
  color: #38254F;
  border-radius: 0.75rem;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2vh;
}

/* Drawing */
.drawing {margin: auto;}
.drawing > img{max-height: 75vh;max-width: 500px;}


/* Gallery */
.stash {
  padding: 10px;
  border-radius: 0.75rem;
  background:hsla(32, 15%, 100%,.5);
  height: 90%;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#stash_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding-right: 5px; 
  overflow-x: auto;
  }
#stash_inner > a{
  margin: 10px;
}
#stash_inner img{
  border-radius: 0.75rem;
}
#stash_inner  img:hover{
transform: scale(1.1);
transform: translate(-10px,-10px);
box-shadow: 5px 5px 2px 1px #606060;
}

/* FDTG */
.fdtg_container {
  display: flex;
  justify-content: center;
}
.fdtg_choices{
  border: 5px;
  border-radius: 0.75rem;
  padding: 5px 5px;
  background:hsla(32, 15%, 100%,.5);
  width: 160px;
  margin: 5px 15px;
  text-align:center;
  font-size: 1.05rem;
  font-family: Arial, Helvetica, sans-serif
}
button{
  border: none;
  border-radius: 0.75rem;
  margin: 15px;
  width: 200px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.05rem;
  color: #38254F;
  font-family: Arial, Helvetica, sans-serif
}
select{margin-top: 5px}
#simple{background-color: #FFFF99;}
#simple:hover{background-color: #FFFFFF}
#complex{background-color: #3399CC;}
#complex:hover{background-color: #FFFFFF}
.resultins{
  border-radius: 0.75rem;
  padding: 1rem;
  background:hsla(32, 15%, 100%,.5);
  height: auto;
  margin: auto;
}

/*Contact*/
.contact_wrapper{
  display: flex;
  border-radius: 0.75rem;
  background:hsla(32, 15%, 100%,.5);
  padding: 5px 5px 5px 10px;
  min-width: 40vh;
  max-width: 80%;
  height: 10vh;
  margin: 5px auto;
}
.contact_logo{
  height:10vh;
  margin-left: auto;
  border-radius: 1.5rem;
}


.contact_link {
  padding-left: 5%;
  width: 25rem;
  line-height: 10vh;
  height: 10vh;
  font-size: 1.4rem;
}
/* Footer */
.footer {
  height: auto;
  margin: 5px;
  background: cornsilk;
}
